$primary: #004E8A;
$orange: #FF6A03;
$danger: #ca2323;

// Navbar
$navbar-height: 80px;
$navbar-dark-bg: $primary;
$navbar-dark-color: white;

// Tables

$table-striped-bg: #F7F9FB;
$table-border-color:#D7E1EA;
$table-color:#3b4141;